<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<servlet>
		<servlet-name>Install</servlet-name>
		<servlet-class>com.synjones.install.InstallServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Install</servlet-name>
		<url-pattern>/install/install_setup.svl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Install1</servlet-name>
		<servlet-class>com.synjones.install.Install1Servlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Installinit</servlet-name>
		<servlet-class>com.synjones.install.InstallinitServlet</servlet-class>
	</servlet>
  
 <servlet>
		<servlet-name>Install2</servlet-name>
		<servlet-class>com.synjones.install.Install2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Install2</servlet-name>
		<url-pattern>/install/install_setup2.svl</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
		<servlet-name>Installinit</servlet-name>
		<url-pattern>/install/install_init.svl</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Install1</servlet-name>
		<url-pattern>/install/install_setup1.svl</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/install/install.jsp</welcome-file>
	</welcome-file-list>
</web-app>