/****** Object:  Table [dbo].[health_risk_morbidity]    Script Date: 11/12/2018 14:22:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[health_risk_morbidity](  --健康风险评估疾病总分对应的实际发病率
	[id] [int] IDENTITY(1,1) NOT NULL,
	[health_risk_id] [int] NOT NULL,         --评估疾病ID
	[points] [int] NOT NULL,                 --总分数
	[sex] [varchar](50) NOT NULL,            --性别
	[morbidity] [int] NULL,                  --发病率
	[condition] [varchar](10) NULL,          --判断条件
 CONSTRAINT [PK_health_risk_morbidity] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[health_risk_morbidity] ON
INSERT [dbo].[health_risk_morbidity] ([id], [health_risk_id], [points], [sex], [morbidity], [condition]) VALUES (2, 1, 1, N'男', 3, N'=')
INSERT [dbo].[health_risk_morbidity] ([id], [health_risk_id], [points], [sex], [morbidity], [condition]) VALUES (3, 1, 2, N'男', 3, N'=')
INSERT [dbo].[health_risk_morbidity] ([id], [health_risk_id], [points], [sex], [morbidity], [condition]) VALUES (4, 1, 3, N'男', 4, N'=')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[health_risk_morbidity] OFF
/****** Object:  Table [dbo].[health_risk_item_examresult]    Script Date: 11/12/2018 14:22:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[health_risk_item_examresult](  --健康风险评估所需要提取的项目检查结果表
	[id] [int] IDENTITY(1,1) NOT NULL,
	[exam_num] [varchar](50) NOT NULL,                     --体检号
	[risk_item_code] [varchar](50) NOT NULL,       --健康风险评估项目编码
	[exam_result] [varchar](500) NOT NULL,         --检查结果
 CONSTRAINT [PK_health_risk_item_examresult] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[health_risk_item_contrast]    Script Date: 11/12/2018 14:22:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[health_risk_item_contrast](  --健康风险评估与体检系统项目关系对照表
	[id] [int] IDENTITY(1,1) NOT NULL,
	[risk_item_code] [varchar](50) NOT NULL,     --健康风险评估项目编码
	[item_code] [varchar](50) NOT NULL,          --影像项目对应收费项目编码，普通和检验对应检查项目编码
	[item_name] [varchar](50) NOT NULL,          --项目名称
 CONSTRAINT [PK_health_risk_item_contrast] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[health_risk_item_contrast] ON
INSERT [dbo].[health_risk_item_contrast] ([id], [risk_item_code], [item_code], [item_name]) VALUES (4, N'LDL-C', N'JC000158', N'胆固醇')
INSERT [dbo].[health_risk_item_contrast] ([id], [risk_item_code], [item_code], [item_name]) VALUES (5, N'PDM', N'JC000433', N'父母糖尿病史')
INSERT [dbo].[health_risk_item_contrast] ([id], [risk_item_code], [item_code], [item_name]) VALUES (6, N'HDL-C', N'JC000156', N'高密度脂蛋白')
SET IDENTITY_INSERT [dbo].[health_risk_item_contrast] OFF
/****** Object:  Table [dbo].[health_risk_examinfo_item]    Script Date: 11/12/2018 14:22:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[health_risk_examinfo_item](  --健康风险评估项目得分
	[id] [int] IDENTITY(1,1) NOT NULL,
	[risk_examinfo_id] [int] NOT NULL,           --健康风险评估结果ID
	[risk_item_code] [varchar](50) NOT NULL,     --健康风险评估项目编码
	[point] [int] NOT NULL,                      --分数
 CONSTRAINT [PK_health_risk_examinfo_item] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[health_risk_examinfo]    Script Date: 11/12/2018 14:22:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[health_risk_examinfo](--健康风险评估疾病风险结果表
	[id] [int] IDENTITY(1,1) NOT NULL,
	[exam_num] [varchar](50) NOT NULL,    --体检号
	[health_risk_id] [int] NOT NULL,      --评估疾病ID
	[points] [int] NOT NULL,              --分数
	[picture_path] [varchar](500) NULL,   --生成柱状图路径
	[is_success] [int] NOT NULL,          --疾病评估状态  0表示成功，1表示失败
	[cause_failure] [varchar](500) NULL,  --失败原因
	[creater] [int] NULL,                 --创建人
	[create_time] [datetime] NULL,        --创建时间
	[reality_morbidity] [int] NULL,       --实际发病率
	[average_morbidity] [decimal](18, 1) NULL,  --平均发病率
	[hard_morbidity] [decimal](18, 1) NULL,     --硬终点发病率（心血管）
	[low_morbidity] [decimal](18, 1) NULL,      --低风险发病率（心血管）
	[is_active] [varchar](10) NOT NULL,         --是否有效
 CONSTRAINT [PK_health_risk_examinfo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[health_risk_assessment_morbidity]    Script Date: 11/12/2018 14:22:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[health_risk_assessment_morbidity](  --健康风险评估疾病对应的平均发病率
	[id] [int] IDENTITY(1,1) NOT NULL,
	[health_risk_id] [int] NOT NULL,                  --评估疾病ID
	[sex] [varchar](50) NOT NULL,                     --性别
	[min_age] [int] NOT NULL,                         --最小年龄
	[max_age] [int] NOT NULL,                         --最大年龄
	[average_morbidity] [decimal](18, 1) NOT NULL,    --平均发病率
	[hard_morbidity] [decimal](18, 1) NULL,           --硬终点发病率（心血管）
	[low_morbidity] [decimal](18, 1) NULL,            --低风险发病率（心血管）
 CONSTRAINT [PK_health_risk_assessment_morbidity] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[health_risk_assessment_morbidity] ON
INSERT [dbo].[health_risk_assessment_morbidity] ([id], [health_risk_id], [sex], [min_age], [max_age], [average_morbidity], [hard_morbidity], [low_morbidity]) VALUES (1, 1, N'男', 0, 59, CAST(5.9 AS Decimal(18, 1)), NULL, NULL)
INSERT [dbo].[health_risk_assessment_morbidity] ([id], [health_risk_id], [sex], [min_age], [max_age], [average_morbidity], [hard_morbidity], [low_morbidity]) VALUES (2, 1, N'男', 60, 64, CAST(7.8 AS Decimal(18, 1)), NULL, NULL)
INSERT [dbo].[health_risk_assessment_morbidity] ([id], [health_risk_id], [sex], [min_age], [max_age], [average_morbidity], [hard_morbidity], [low_morbidity]) VALUES (3, 1, N'男', 65, 69, CAST(11.0 AS Decimal(18, 1)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[health_risk_assessment_morbidity] OFF
/****** Object:  Table [dbo].[health_risk_assessment_item_condition]    Script Date: 11/12/2018 14:22:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[health_risk_assessment_item_condition]( --健康风险评估疾病项目对应判断条件分数
	[id] [int] IDENTITY(1,1) NOT NULL,
	[health_item_id] [int] NOT NULL,            --评估疾病项目ID
	[points] [int] NOT NULL,                    --分数
	[min_value] [int] NULL,                     --最小值 >=
	[max_value] [int] NULL,                     --最大值 <=
	[yes_or_not] [varchar](50) NULL,            --文字包含关键字 in
	[min_value1] [int] NULL,                    --最小值1 >=
	[max_value1] [int] NULL,                    --最大值1 <=
 CONSTRAINT [PK_health_risk_assessment_item_condition] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[health_risk_assessment_item_condition] ON
INSERT [dbo].[health_risk_assessment_item_condition] ([id], [health_item_id], [points], [min_value], [max_value], [yes_or_not], [min_value1], [max_value1]) VALUES (1, 1, 0, 0, 56, NULL, NULL, NULL)
INSERT [dbo].[health_risk_assessment_item_condition] ([id], [health_item_id], [points], [min_value], [max_value], [yes_or_not], [min_value1], [max_value1]) VALUES (2, 1, 1, 57, 59, NULL, NULL, NULL)
INSERT [dbo].[health_risk_assessment_item_condition] ([id], [health_item_id], [points], [min_value], [max_value], [yes_or_not], [min_value1], [max_value1]) VALUES (3, 1, 2, 60, 62, NULL, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[health_risk_assessment_item_condition] OFF
/****** Object:  Table [dbo].[health_risk_assessment_item]    Script Date: 11/12/2018 14:22:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[health_risk_assessment_item](  --健康风险评估疾病对应项目
	[id] [int] IDENTITY(1,1) NOT NULL,
	[health_risk_id] [int] NOT NULL,            --评估疾病ID
	[item_code] [varchar](50) NOT NULL,         --健康风险评估项目编码
	[item_name] [varchar](50) NOT NULL,         --项目名称
	[item_type] [int] NOT NULL,                 --判断类型  1表示按最大（max_value）和最小值（min_value）判断、2表示按包含（in）关系判断 yes_or_not、3表示按组合条件判断 max_value、min_value、max_value1、min_value1 (特殊项目血压)
	[sex] [varchar](10) NOT NULL,               --适用性别
	[item_seq] [int] NOT NULL,                  --顺序码
 CONSTRAINT [PK_health_risk_assessment_item] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[health_risk_assessment_item] ON
INSERT [dbo].[health_risk_assessment_item] ([id], [health_risk_id], [item_code], [item_name], [item_type], [sex], [item_seq]) VALUES (1, 1, N'AGE', N'年龄', 1, N'男', 1)
INSERT [dbo].[health_risk_assessment_item] ([id], [health_risk_id], [item_code], [item_name], [item_type], [sex], [item_seq]) VALUES (2, 1, N'DBP', N'舒张压', 1, N'男', 2)
INSERT [dbo].[health_risk_assessment_item] ([id], [health_risk_id], [item_code], [item_name], [item_type], [sex], [item_seq]) VALUES (3, 1, N'SBP', N'收缩压', 1, N'男', 3)
SET IDENTITY_INSERT [dbo].[health_risk_assessment_item] OFF
/****** Object:  Table [dbo].[health_risk_assessment]    Script Date: 11/12/2018 14:22:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[health_risk_assessment](  --健康风险评估疾病表
	[id] [int] IDENTITY(1,1) NOT NULL,
	[disease_name] [varchar](50) NOT NULL,     --疾病名称
	[disease_type] [varchar](10) NOT NULL,     --疾病类型
	[disease_type_name] [varchar](50) NOT NULL,--类型名称
	[bar_graph_titel] [varchar](50) NULL,      --生成柱状图标题名称
 CONSTRAINT [PK_health_risk_assessment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[health_risk_assessment] ON
INSERT [dbo].[health_risk_assessment] ([id], [disease_name], [disease_type], [disease_type_name], [bar_graph_titel]) VALUES (1, N'卒中', N'STROKE', N'卒中', N'十年卒中风险评估对比图')
INSERT [dbo].[health_risk_assessment] ([id], [disease_name], [disease_type], [disease_type_name], [bar_graph_titel]) VALUES (2, N'心血管病-总胆固醇', N'CHD', N'心血管病', N'十年心血管风险评估对比图')
INSERT [dbo].[health_risk_assessment] ([id], [disease_name], [disease_type], [disease_type_name], [bar_graph_titel]) VALUES (3, N'心血管病-胆固醇', N'CHD', N'心血管病', N'十年心血管风险评估对比图')
SET IDENTITY_INSERT [dbo].[health_risk_assessment] OFF
