alter table exam_dep_result_log add exam_num varchar(50) --体检编码
alter table common_exam_detail_log add item_num varchar(50) --检查项目编码
alter table exam_summary_log add exam_num varchar(50)   --体检编码
alter table examinfo_disease_log add disease_num varchar(50) -- 疾病编码

