/****** Object:  Table [dbo].[zyb_occuhazardfactors_occudisease]    Script Date: 12/01/2017 15:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[zyb_occuhazardfactors_occudisease](
	[RID] [varchar](32) NOT NULL,
	[hazardfactorsID] [varchar](32) NOT NULL,
	[occuphyexaclassid] [varchar](32) NOT NULL,
	[occudiseaseID] [varchar](32) NOT NULL,
	[DISORDER] [int] NOT NULL,
 CONSTRAINT [PK_PE_OCCUHAZARD_OCCUDISEASE] PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[zyb_occuhazardfactors_occudisease] ([RID], [hazardfactorsID], [occuphyexaclassid], [occudiseaseID], [DISORDER]) VALUES (N'00ad372298d14f7e84804c43e98b0ec9', N'f011ed7b26f64b3ca2f520c6604fe03d', N'aa207294e8dd44079b79eaaadc943417', N'eba1b2c818ba4c85a7700e427f47d0ab', 8)
INSERT [dbo].[zyb_occuhazardfactors_occudisease] ([RID], [hazardfactorsID], [occuphyexaclassid], [occudiseaseID], [DISORDER]) VALUES (N'018e8ae46e8546c2a80dab0fef9efaf8', N'754805e7932c4cd1b33b0ec8a5680692', N'aa207294e8dd44079b79eaaadc943417', N'4b74c4e5bb4641259ee798b9028d7cf1', 3)
INSERT [dbo].[zyb_occuhazardfactors_occudisease] ([RID], [hazardfactorsID], [occuphyexaclassid], [occudiseaseID], [DISORDER]) VALUES (N'0204a5154dcc4b3eb70ca5a81e377901', N'be3b974111af4d678d67869d4a269353', N'f44bae3ab94a4caf9dc22e318d6cd324', N'9a936193ec474687b479bbf9e16d5882', 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[zyb_occuhazardfactors_occucontraindication]    Script Date: 12/01/2017 15:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[zyb_occuhazardfactors_occucontraindication](
	[RID] [varchar](32) NOT NULL,
	[occuphyexaclassID] [varchar](32) NOT NULL,
	[hazardfactorsID] [varchar](32) NOT NULL,
	[contraindicationID] [varchar](32) NOT NULL,
	[DISORDER] [int] NOT NULL,
 CONSTRAINT [PK_PE_OCCUHAZARD_TABOODISEASE] PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[zyb_occuhazardfactors_occucontraindication] ([RID], [occuphyexaclassID], [hazardfactorsID], [contraindicationID], [DISORDER]) VALUES (N'00008ac09faf47e4ada82e7413b4502d', N'a9859e756edc4f5da40f7c0499a66d58', N'1f9b7364a0d54efe807eda744d5c70fc', N'51126ffaadcd4835a5cc11418372ca6f', 5)
INSERT [dbo].[zyb_occuhazardfactors_occucontraindication] ([RID], [occuphyexaclassID], [hazardfactorsID], [contraindicationID], [DISORDER]) VALUES (N'0035a7e26a8d42388caee1c35deb3ec4', N'a9859e756edc4f5da40f7c0499a66d58', N'2fd210feb20c4cdea2441b0c89ff02f2', N'9aad8a86b8364cb6b054135bd9568458', 2)
INSERT [dbo].[zyb_occuhazardfactors_occucontraindication] ([RID], [occuphyexaclassID], [hazardfactorsID], [contraindicationID], [DISORDER]) VALUES (N'015f2b0cb4134d4eb5b4038dd1707dd6', N'aa207294e8dd44079b79eaaadc943417', N'218044bf1b6b41b1ac74079e88e5cd74', N'b4e6b821d5bf4f4fa22d0d78019e13e5', 2)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
/****** Object:  Table [dbo].[zyb_occuhazardfactors_checkcriterion]    Script Date: 12/01/2017 15:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[zyb_occuhazardfactors_checkcriterion](
	[RID] [varchar](32) NOT NULL,
	[hazardfactorsID] [varchar](32) NOT NULL,
	[occuphyexaclassID] [varchar](32) NOT NULL,
	[criterionID] [varchar](32) NOT NULL,
	[DISORDER] [int] NOT NULL,
 CONSTRAINT [PK_PE_OCCUHAZARD_CHECKCRITERIO] PRIMARY KEY CLUSTERED 
(
	[RID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[zyb_occuhazardfactors_checkcriterion] ([RID], [hazardfactorsID], [occuphyexaclassID], [criterionID], [DISORDER]) VALUES (N'000070a1fb104ddca617fdcfdcc4bda0', N'81f15a0afb9f4dafae1e8c0fe32b0ba8', N'f44bae3ab94a4caf9dc22e318d6cd324', N'0166792cebcc48eeb6fb42bd950bf98c', 1)
INSERT [dbo].[zyb_occuhazardfactors_checkcriterion] ([RID], [hazardfactorsID], [occuphyexaclassID], [criterionID], [DISORDER]) VALUES (N'061f5a5c5010405b83ebb3b20e98fab9', N'e87acfae4cf44da8afaffb52b471fae8', N'f44bae3ab94a4caf9dc22e318d6cd324', N'129c39cce02f463496997049ed7d2204', 2)
INSERT [dbo].[zyb_occuhazardfactors_checkcriterion] ([RID], [hazardfactorsID], [occuphyexaclassID], [criterionID], [DISORDER]) VALUES (N'0631500e7e8a422095104b50a278c6d2', N'47dd486874304abcb00d12116ac2247f', N'f44bae3ab94a4caf9dc22e318d6cd324', N'd9c5a654b71349ee8ceccb9569edc66e', 1)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[degreeOfedu]    Script Date: 12/01/2017 15:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[degreeOfedu](
	[id] [int] NOT NULL,
	[edudegree_code] [varchar](10) NOT NULL,
	[edudegree_name] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[degreeOfedu] ([id], [edudegree_code], [edudegree_name]) VALUES (1, N'01', N'小学')
INSERT [dbo].[degreeOfedu] ([id], [edudegree_code], [edudegree_name]) VALUES (2, N'02', N'初中')
INSERT [dbo].[degreeOfedu] ([id], [edudegree_code], [edudegree_name]) VALUES (3, N'03', N'技校')
