/* Header Style */
#header     {background-color:#0453A2;border-bottom:0px solid #02294c;height:110px;}
#logo       {padding:0 0 0 10px;}
h1          {color:#fff;font-size:56px;font-family:Microsoft Yahei;font-weight:normal;text-align:right;line-height:100px;margin:0;padding:0 30px 0 0;}