/*******************************
  Reset Of System Public Style
*******************************/
*      {margin: 0;}
body   {font: 14px/18px arial,"Microsoft Yahei";padding:0;margin:0;}
dt,dd  {float:left;}
li     {list-style: none outside none;}
a      {color:#1676A7;cursor: pointer;  outline: medium none; text-decoration: none;}
a:hover{text-decoration:underline;}

ul,img {margin:0;padding:0;border: none;}
fieldset{border: 1px solid #B5B8C8;padding:0 10px 10px;}
legend {padding: 0 3px;}
h2{font-size:36px;color:#dc3931;font-weight:normal;line-height:44px;font-family:"simHei"}
h2.normal{color:#000;}
h3{color:#f02117;font-size:24px;font-weight:normal;font-family:"simHei"}