/* Button style of sys */
.btn-confirm          {background-image:url(images/btn.png);background-repeat:no-repeat;background-color:transparent;color:#324653;cursor:pointer;font-size:24px;font-family:"Microsoft YaHei";border:0;width:170px;height:74px;}
.btn-lang             {background-image:url(images/lang.png);background-repeat:no-repeat;background-color:transparent;color:#324653;cursor:pointer;font-size:24px;font-family:"Microsoft YaHei";border:0;width:170px;height:74px;}
