<?xml version="1.0"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="securityConfig" class="com.hjw.wst.config.impl.SecurityConfigImpl">
		<property name="reSql1">
			<value>#-#</value>
		</property>
		<property name="reSql2">
			<value>script</value>
		</property>

		<property name="noVelify"><!-- 不需要验证的action -->
			<set>
				<value>impuserfiledo.action</value>
			</set>
		</property>
	</bean>
</beans>
